%dl.apps
  -@apps.each do |app|
    %dd
      =link_to image_tag(app.logo,class: 'img-rounded',width: 72),app_home_url(app)
      .meta
        =link_to app.name,app_home_url(app),class: "fn",title: "点此查看详情"
        %br
        -#%span{title: "#{app.fans_count}人喜欢"} #{app.fans_count}
        .outlink=link_to app.fans_count,app.url,title: "#{app.fans_count}人喜欢,点此访问U站",class: "external",rel: "nofollow",target: "_blank"
.clearfix
