%nav.navbar-inner
  .container
    %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .nav-collapse.collapse
      %ul.nav
        = link_to "淘宝U站大全", root_path, class: 'brand'
        %li= link_to "U站排行榜", top_apps_path
        %li= link_to "最新U站", recent_apps_path
        %li= link_to "关于", page_path('about')
